<div class="projects-body">
    <div class="projects-remote"></div>
    <div class="projects-local"></div>
</div>

<!-- Settings / Login -->
<div class="dialog dialog-settings">
    <p class="text-center">
        <img src="static/images/icons/128.png" width="48"/>
    </p>
    <% if (!account.isConnected()) { %>
    <form role="form" class="form-login">
        <p class="help-block text-center">Access your cloud remote boxes from this application by connecting your codebox.io account.</p>
        <div class="form-group">
            <input type="text" class="form-control email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control password" placeholder="Password">
            <p class="help-block">Don't have an account? <a href="https://www.codebox.io/signup" target="_blank">Sign up for free</a></p>
        </div>
        <button type="submit" class="btn btn-block btn-default">Log in</button>
    </form>
    <% } else { %>
    <form role="form" class="form-logout">
        <p class="help-block text-center">
            This computer is currently linked to an account (name: <%- account.get("name") %>, email: <%- account.get("email") %>).
        </p>
        <p class="help-block text-center">
            Everybody with access to your computer can access your boxes and your code.
        </p>
        <button type="submit" class="btn btn-block btn-default">Unlink this account</button>
    </form>
    <% } %>
</div>

<!-- Box creation -->
<div class="dialog dialog-create">
    <p class="text-center">
        <img src="static/images/icons/128.png" width="48"/>
    </p>
    <form role="form" class="form-create">
        <p class="help-block text-center">Create a new box.</p>
        <div class="form-group">
            <input type="text" class="form-control name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <select class="form-control stack">
            <% _.each(stacks, function(stack, stackId) { %>
                <option value="<%- stackId %>"><%- stack.name %></option>
            <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-block btn-default">Create</button>
    </form>
</div>

<% if (!account.isConnected()) { %>
<div class="login-alert">
    Access your cloud boxes from this application
</div>
<% } %>

<div class="toolbar">
    <div class="btn-group btn-group-justified">
        <% if (platform.allowOpenLocal) { %><a href="#" class="btn btn-lg btn-default button-open">open</a><% } %>
        <a href="#" class="btn btn-lg btn-default <% if (!account.isConnected()) { %>disabled<% } %>" data-toggle-dialog="create">create</a>
        <a href="#" class="btn btn-lg btn-default" data-toggle-dialog="settings">settings</a>
    </div>
</div>
<input type="file" class="project-open" nwdirectory style="display: none;" />

<div class="loading-alert">
    <div class="loadings-spinner"></div>
</div>