.settings {
    position: absolute;
    top: -320px;
    right: 0px;
    left: 0px;
    padding: 20px;
    transition: top ease 0.2s;

    background: #f8f8f8;
    border-top: 1px solid #b2b2b2;
    box-shadow: 0px 3px 10px #b2b2b2;

    &.active {
        top: 0px;
    }
}

.login-alert {
    position: absolute;
    bottom: 69px;
    left: 0px;
    right: 0px;
    z-index: 10;

    background: #88b7d5;
    border: 2px solid #88b7d5;
    border-left: 0px;
    border-right: 0px;
    color: #fff;
    text-align: center;
    padding: 10px;

    &:after, &:before {
        top: 100%;
        left: 75%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #88b7d5;
        border-width: 20px;
        margin-left: -20px;
    }
    &:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color: #88b7d5;
        border-width: 23px;
        margin-left: -23px;
    }
}
