.toolbar {
    position: absolute;

    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 70px;

    background-color: #f8f8f8;
    border-top: 1px solid #b2b2b2;
    color: #444444;
    padding: 10px;
    text-align: center;

    .button {
        text-decoration: none;
        color: inherit;
        padding: 15px 30px;
        display: inline-block;
        margin: 0px 0px;
        border: 1px solid #c2c2c2;
        text-transform: uppercase;
        width: 45%;
        text-align: center;

        &:hover {
            background: #f1f1f1;
        }
    }
}